html, body {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  padding: 100px;
}

form label {
  display: inline-block;
  width: 100px;
}

form input[type=text] {
  width: 140px;
}

form input[type=submit] {
  margin-left: 100px
}